html {
    font-size: 16px;
}
body {
    background-color:#dad1d3;
    font-family: 'Slackey', cursive;
}

.main-Header{
    width: 100%;
    font-family: 'Slackey', cursive;
    color: #4a1b23;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-Header p {
    min-width: 200px;
}

.mainFooter {
    display: flex;
    justify-content: center;
}

.mainFooter p {
    color: #4a1b23;
    font-size: 0.75rem;
    font-weight: bolder;
    padding: 3.125rem;
}

.links {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links .media{
    margin: 0 2%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.links a:link {
    color: #4a1b23;
    text-decoration: none; 
}

.links a:hover {
    color: #805f65;
    text-decoration: none;  
}

.links a:active {
    color: #331218;
    text-decoration: none; 
}

.links a:visited {
    color: #b6a3a7;
    text-decoration: none;
}

#categories {
    margin: 0 5%;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}

.category-container {
    width: 86%;
    height: auto;
    margin: 2%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category-container:hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05));
}

.category-container p {
    color: #805f65;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
} 